<div class="row">
  <h1>This is the current user</h1>
</div>
<div class="row">
  <div class="col-md-8 col-md-push-4"><%= current_user.username if current_user %></div>
</div>
<div class="row">
  <h1>These are all of the users</h1>
</div>
<div class="row">
  <ul id="users">
  <% @users.each do |u| %>
    <li><%= u.username %>, <%= link_to "profile", u %></li>
  <% end %>
  </ul>
</div>

<%= link_to 'sign out', auths_path, {method: :delete} %>