<% if notice %>
<div class = 'col-md-5'></div>
  <div id = "error" class = "col-md-2 alert alert-dismissable alert-success">
    <button type = "button" class = "close" data-dismiss = "alert">x
    </button>
    <strong><%= notice %></strong>
  </div>
  <div class = 'col-md-5'></div>
  <% end %>
<div id = "video-nest">
  <%= video_tag "http://commondatastorage.googleapis.com/emergenchefvideo%2FEmergenChef720.mp4", autoplay: true, loop: true, muted: true, size: "540x350" %>

  <div id = "tv-nest"></div>

</div>
<div class = "panel panel-danger">
  <div class = "panel-heading">
    <h3 class = "panel-title">Pulling another All-Nighter?</h3>
  </div>
  <div class = "panel-body">
    <h4>It's time to hire a private chef!</h4>
    <p>Our chef(s) will stay with you and your team all night and provide meals and snacks cooked from scratch.  Whether you're a college student or a professional team, we understand how trying an all-nighter can be.  It's time to take the thinking out of your food and put it into your project!</p>
  </div>
</div>
<div class = "panel panel-info">
  <div class = "panel-heading">
    <h3 class = "panel-title">How does it work?</h3>
  </div>
  <div class = "panel-body">
    <h4>It's as easy as 1-2-3!</h4>
    <ol>
      <li>Our chefs visit your team at an hour you designate</li>
      <li>They bring with them a variety of plug-in appliances to turn any space into your very own private kitchen</li>
      <li>Your team eats food they like!</li>
    </ol>
  </div>
</div>