<% if notice %>
<div class='row'>
  <div class = 'col-md-4'>
  </div>
  <div id = "error" class = "col-md-4 alert alert-dismissable alert-success">
    <button type = "button" class = "close" data-dismiss = "alert">x</button>
    <strong><%= notice %></strong>
  </div>
  <div class = 'col-md-4'>
  </div>
</div>
<% end %>
<div class="row">
  <div class="col-md-4 col-sm-5 col-xs-12">
  <div id = "video-nest">
    <%= video_tag "http://commondatastorage.googleapis.com/emergenchefvideo%2FEmergenChef720.mp4", autoplay: true, loop: true, muted: true, size: "270x175" %>
    <div id = "tv-nest"></div>
  </div>
  </div>
  <div class="col-md-8 col-sm-7 col-xs-12">
    <h1 class="col-md-12 col-xs-12 col-sm-12">Getting Hungry thinking about your next All Nighter?</h1>
    <h3>The solution is as easy as 1-2-3!</h3>
    <ol>
      <li>Create an Account</li>
      <li>Sign in</li>
      <li>Indicate your details and send us an e-mail</li>
    </ol>
  </div>
</div>

