<%= current_user.id %>
<%= ENV['EMERGENCHEF_ADMIN_USER_ID'] %>

<% if notice %>
<div class='row'>
  <div class = 'col-md-5'>
  </div>
  <div id = "error" class = "col-md-2 alert alert-dismissable alert-success">
    <button type = "button" class = "close" data-dismiss = "alert">x</button>
    <strong><%= notice %></strong>
  </div>
  <div class = 'col-md-5'>
  </div>
</div>
<% end %>
<div class="row">
  <div id = "video-nest">
    <%= video_tag "http://commondatastorage.googleapis.com/emergenchefvideo%2FEmergenChef720.mp4", autoplay: true, loop: true, muted: true, size: "270x175" %>
    <div id = "tv-nest"></div>
  </div>
</div>

