<div class="row">
  <div class="col-md-4 col-sm-5 col-xs-12">
  <div id = "video-nest">
    <%= video_tag "http://commondatastorage.googleapis.com/emergenchefvideo%2FEmergenChef720.mp4", autoplay: true, loop: true, muted: true, size: "270x175" %>
    <div id = "tv-nest"></div>
  </div>
  </div>
  <div class="col-md-8 col-sm-7 col-xs-12">
    <h1 class="col-md-12 col-xs-12 col-sm-12">Hungry? All Nighter coming up?</h1>
    <h3 class="col-md-11 col-md-offset-1 col-sm-11 col-sm-offset-1 col-xs-11 col-xs-offset-1 ">The solution is as easy as 1-2-3!</h3>
    <ol class="col-md-10 col-md-offset-2 col-sm-10 col-sm-offset-2 col-xs-10 col-xs-offset-2">
      <li>You <%= link_to "make an account", new_user_path %> with us </li>
      <li>You create a profile, telling us your favorite foods, location of all-nighter, etc...</li>
      <li>You send us an e-mail and we will show up on a moment's notice!</li>
    </ol>
  </div>
</div>

