<% if notice %>
<div class="row">
  <div id = "notice" class = "col-md-4 col-md-offset-4 col-sm-offset-4 col-sm-4 col-xs-offset-4 col-xs-4 alert alert-dismissable alert-success">
    <button type = "button" class = "close" data-dismiss = "alert">x
    </button>
    <strong><%= notice %></strong>
  </div>
</div>
<% end %>


      <%= render 'form' %>