<h1>My orders</h1>
<ul>

  <% @orders.each do |o| %>
  <!--style this a little bit better-->
    <li>
      <%= o.name %> |
      <%= link_to 'edit this order', edit_order_path(o) %> |
      <%= link_to 'delete', o, {method: :delete} %>
    </li>
  <% end %>
</ul>