#container{
  min-width:480px;
}


$navbar-default-bg: #1d46aa;
$navbar-height:180px;
$navbar-padding-vertical:20px;
.navbar {
  margin-bottom:0;
}
.navbar-brand {
  width:390px;
  height:180px;
  background-image:url(logo.png);
  background-size:cover;
}
header.row{
  margin-bottom:20px;
}
ul {
  padding:0;
  li {
   list-style: none;
  }
}
.row {
  margin:0;
 }
 .footer {
   margin:1em 0;
 }
 .alert-dismissable {
   text-align: center;
 }
.corner-dock {
  position:absolute;
  bottom:0;
  right:0;
  background-color:#ad1d28;
  border-top-left-radius: 5px;
}
a {
  //just to make sure
  cursor: pointer;
}

// additional media queries
@media only screen and (min-width:768px) {
  .navbar-right {
    position:absolute;
    right:0;
  }
  #hide-xxs {
    display:none;
  }
}
@media only screen and (max-width:649px) {
  #hide-xxs {
    display:none;
  }
}