
$navbar-default-bg: #1d46aa;
$navbar-height:180px;
$navbar-padding-vertical:40px;
.navbar-brand{
  width:390px;
  height:180px;
  background-image:url(logo.png);
  background-size:cover;
}
#push{
  height:60px;
  clear:both;
}
.footer{
  padding:2em;
}
ul{
 li{
   list-style: none;
 }
 padding:0;
}
.row{margin:0;
 }
