// Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul li form{
  display:inline-block;
}
#orders{
  .order{
    margin-bottom: 1em;
    li{
      border-right:1px solid white;
      padding: 0 1em;
      display: inline-block;
    }
    li:last-child{
      border-right:none;
    }
  }
}