// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com
@import 'bootstrap';
#video-nest{
  width:280px;
  height:300px;
  margin:2em auto;
  overflow-x:hidden;
  text-align: center;
  position:relative;
  video{
    margin: 0 auto;
    z-index:-1;
    position:absolute;
    left:15px;
    top:45px;
  }
  #tv-nest{
    width: 280px;
    height:300px;
    background:url(TV-Frame-smaller.png);
    position:absolute;
    background-repeat:no-repeat;
    background-position:-110px;
    top:0;
    left:0;
  }
 }
.panel{
  position:absolute;
  width:300px;
  height:240px;
  bottom:10em;
  .panel-body{
    p:first-letter{
      padding-left: 1em;
    }
  }

}
.panel-danger{
  left:2em;
}
.panel-info{
  right:2em;
}
ol{
  font-size:2em;
}
@media only screen and (min-width:768px){
  .well.col-md-4.col-md-offset-4{
    margin-top:20px;
  }
}