// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com

#video-nest{
  width:280px;
  height:300px;
  margin:2em auto 0;
  overflow-x:hidden;
  text-align: center;
  position:relative;
  video{
    margin: 0 auto;
    z-index:-1;
    position:absolute;
    left:7px;
    top:45px;
  }
  #tv-nest{
    width: 280px;
    height:300px;
    background:url(TV-Frame-smaller.png);
    position:absolute;
    background-repeat:no-repeat;
    background-position:-110px;
    top:0;
    left:0;
  }
 }
#users li{
  padding-left:2em;
}
#profil{
  display: none;
}
#name{
  float:right;
}
#name:hover{
  font-weight: bolder;
}
.well.col-md-4.col-md-offset-4 {
  margin-top:20px;
}
.glyphicon-arrow-down{
  cursor:pointer;
}