    <div width = "390px" height = "180px" style = "background-color:#911821; border:2px solid black">
      <%= image_tag 'http://storage.googleapis.com/emergenchefvideo/logo.png' %>
    </div>
    <div style = "border:2px solid black; border-top:0; padding:1em">
      <h2>User Info:</h2>

      <h2>Order Info:</h2>

     </div>

