<!DOCTYPE html>
<html>
  <head>
    <%= render partial: "layouts/head.html" %>
  </head>
  <body>
    <%= render partial: "layouts/header.html" %>
    <%= yield %>
    <%= render partial: "layouts/footer.html" %>
  </body>
</html>
